<h1 class="text-center">リクエストを投稿して支援を受けましょう</h1>
<div class="p-2">
  <%= link_to "リクエストの新規投稿", new_request_url, class: "btn btn-primary btn-lg w-100 m-1 p-4", style: "margin:auto" %>
  <p class="lead text-center">リクエストを投稿しましょう。承認されれば支援を受けられます。</p>
</div>
<div class="p-2">
  <%= link_to "投稿したリクエスト一覧", posted_requests_path, class: "btn btn-primary btn-lg w-100 m-1 p-4", style: "margin:auto" %>
  <p class="lead text-center">あなたが投稿したリクエストの一覧です。ご確認ください。</p>
</div>
<div class="p-2">
  <%= link_to "承認されたリクエスト一覧", posted_accepted_requests_path, class: "btn btn-primary btn-lg w-100 m-1 p-4", style: "margin:auto" %>
  <p class="lead text-center">あなたが投稿したリクエストの中で承認されたものです。支援者とチャットを行うことができます。</p>  
</div>
