<nav class="navbar bg-primary navbar-dark h1 sticky-top ">
  <a class="navbar-brand h1" href="/">Let Me Help</a>
  <% if user_signed_in? %>
    <%= link_to 'プロフィール変更', edit_user_registration_path, class: 'navbar-brand h1' %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'navbar-brand h1' %>
  <% end %>
</nav>
